#gradle
build/
.gradle/
.gradletasknamecache

#java
bin/
bin-obfuscate/
staging/
gen/

#idea
.idea/
*.iml
*.ipr
*.iws
*.DS_Store

#android
local.properties

logs/
out/

nohup.out
apktool*
tag

service.env