export TB_NET_INTERFACE_NAME=lo0
export KEYWORDS_SCANNER_RESPONSE_NOTIF_URL=http://quail.lab.tb/api/scanner/scan/execution/result/
export FILE_SERVER_URL=http://file.lab.tb/upload/
export LANG=zh_CN.UTF-8
