#parent {
    -fx-background-color: white;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 850;
    -fx-max-width: 850;
    -fx-pref-width: 850;
    -fx-min-height: 750;
    -fx-max-height: 750;
    -fx-pref-height: 700;
    -fx-alignment: center;
}

#captureReplay {
    -fx-background-position: center;
    -fx-min-width: 375;
    -fx-max-width: 375;
    -fx-pref-width: 375;
    -fx-min-height: 550;
    -fx-max-height: 550;
    -fx-pref-height: 550;
}

